{% extends '/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="bodyy">


  <header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <div class="mx-auto" role="search">
          <a href="{{ url_for('home.index') }}"
            class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <img src="/static/icons/pharmacy.png" width="50" height="50" alt="">
            <span class="fs-5">FARMACLICK</span>
          </a>

        </div>
      </div>
    </div>
  </header>


  <h2 class="py-2">Registra tu cuenta y accede a nuestros servicios</h2>
  <div class="container containerr" id="container">
    <div class="form-container sign-up-container">
      <form action="{{ url_for('autenticar.loginUsser') }}" method="POST" autocomplete="off">
        <h1>Iniciar sesión</h1>

        <input type="email" name="correo" id="correo" placeholder="Correo" />
        <input type="password" name="password" id="password" placeholder="Contraseña" />

        <!-- <button>Acceder</button> -->
        <div class="py-3">
          <button type="submit" class="btn btn-primary btn-send ">Iniciar Sesión</button>
        </div>


      </form>
    </div>
    <div class="form-container sign-in-container">
      <form name="formRegisterClient" id="formRegisterClient" action="{{ url_for('autenticar.registerUser') }}"
        method="POST" autocomplete="off">

        <input type="text" name="nombre" autofocus placeholder='Nombre'>
        <input type="text" name="apellido" placeholder='Apellido'>

        <input type="email" name="correo" required placeholder='Correo'>

        <input type="text" name="direccion" placeholder='Direccion'>

        <input type="phone" name="telefono" placeholder='Telefono'>
        <input type="password" name="password" placeholder='Password'>
        <input type="password" name="repite_password" placeholder='Repite contraseña'>

        <select name="genero">
          <option value="" selected="selected">--- Seleccione genero---</option>
          <option value="Masculino">Masculino</option>
          <option value="Femenino">Femenino</option>
        </select>



        <div class="d-grid gap-2 mt-3 mb-3">
          <input type="submit" class="btn btn-primary btn-send" id="sendForm" value="Registrar">
        </div>

      </form>

    </div>

    <div class="overlay-container">

      <div class="overlay">

        <div class="overlay-panel overlay-left">
          <h1>Aun no tienes cuenta?</h1>
          <p>Transforma tu experiencia de compra de medicamentos al crear tu cuenta en nuestra farmacia en línea, donde
            podrás acceder de forma rapida y segura a tus productos favoritos</p>

          <button class="ghost" id="signIn">Registrate</button>
        </div>
        <div class="overlay-panel overlay-right">

          <h1>Bienvenido de vuelta!</h1>
          <p>Para mantenerse conectado con nosotros, inicie sesión con su información personal</p>

          <button class="ghost" id="signUp">Iniciar sesión</button>
        </div>


      </div>
    </div>
  </div>
  <hr>
</div>
{% include 'alerts.html' %}
{% endblock %}