{% extends "base_home.html"%}
{% block title %}Bebé{% endblock %}

{% block content %}

<div class="container">
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/bebe/acid.png" class="card-img-top" alt="..."
          style="height: 230px; width: 180px; display: block; margin: auto;">
        <div class="card-body">
          <h5 class="card-title">ACID-MANTLE N LOCIÓN FRASCO CON 400 ML</h5>
          <p class="card-text">ES UN MEDICAMENTO. NO EXCEDER SU CONSUMO. LEER INDICACIONES Y
            CONTRAINDICACIONES. SI LOS SÍNTOMAS PERSISTEN, CONSULTAR AL MÉDICO.</p>
          <h4 class="precios" style="color: orangered;">$42.900</h4>
          <div class="centrarButton" align="center">
            <a class="btn btn-primary  btn-sm" href="{{ url_for('home.comprarproducto') }}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/bebe/advil.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ADVIL CHILDREN SABOR FRUTAS CAJA CON FRASCO CON 60 ML</h5>
          <p class="card-text">ES UN MEDICAMENTO. NO EXCEDER SU CONSUMO. LEER INDICACIONES Y CONTRAINDICACIONES. SI
            LOS SÍNTOMAS PERSISTEN, CONSULTAR
            AL MÉDICO.</p>
          <h4 class="precios" style="color: orangered;">$19.450</h4>
          <div class="centrarButton" align="center">
            <a class="btn btn-primary  btn-sm" href="{{ url_for('home.comprarproducto') }}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/bebe/alula.png" class="card-img-top" alt="..."
          style="height: 250px; width: 200px; display: block; margin: auto;">
        <div class="card-body">
          <h5 class="card-title">ALULA GOLD PROMIL TARRO CON 400 G</h5>
          <p class="card-text">“La leche materna es el mejor alimento para el niño”</p>
          <h4 class="precios" style="color: orangered;">$50.000</h4>
          <div class="centrarButton" align="center">
            <a class="btn btn-primary  btn-sm" href="{{ url_for('home.comprarproducto') }}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/bebe/desitin.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">CREMA ANTIPAÑALITIS DESITIN TUBO CON 57 G</h5>
          <p class="card-text">LA ROZADURA DE PAÑAL ES UNA MOLESTIA NORMAL EN LA MAYORÍA DE LOS BEBÉS.</p>
          <h4 class="precios" style="color: orangered;">$24.500</h4>
          <div class="centrarButton" align="center">
            <a class="btn btn-primary  btn-sm" href="{{ url_for('home.comprarproducto') }}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-4 g-4 py-3">
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/bebe/johnsons.png" class="card-img-top" alt="..."
          style="height: 250px; width: 170px; display: block; margin: auto;">
        <div class="card-body">
          <h5 class="card-title">SHAMPOO JOHNSON BABY ORIGINAL FRASCO CON 100 ML</h5>
          <p class="card-text">CON FÓRMULA TODAVÍA MÁS SUAVE PARA DAR EL CUIDADO QUE EL PELO DE TU BEBÉ NECESITA, EL
            SHAMPOO JOHNSON'S® BABY ORIGINAL
            LIMPIA EFECTIVAMENTE EL PELO DE TU BEBÉ, Y ES TAN SEGURO COMO EL AGUA.</p>
          <h4 class="precios" style="color: orangered;">$10.550</h4>
          <div class="centrarButton" align="center">
            <a class="btn btn-primary  btn-sm" href="{{ url_for('home.comprarproducto') }}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/bebe/marimer.png" class="card-img-top" alt="..."
          style="height: 250px; width: 170px; display: block; margin: auto;">
        <div class="card-body">
          <h5 class="card-title">MARIMER ISOTÓNICA CAJA CON FRASCO CON 100 ML</h5>
          <p class="card-text">PRODUCTO NATURAL, ES UNA SOLUCIÓN FISIOLÓGICA DE AGUA DE MAR ESTÉRIL. NATURALMENTE RICO
            EN SALES MINERALES Y
            OLIGOELEMENTOS MARINOS.</p>
          <h4 class="precios" style="color: orangered;">$74.500</h4>
          <div class="centrarButton" align="center">
            <a class="btn btn-primary  btn-sm" href="{{ url_for('home.comprarproducto') }}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/bebe/nan.png" class="card-img-top" alt="..."
          style="height: 250px; width: 200px; display: block; margin: auto;">
        <div class="card-body">
          <h5 class="card-title">NAN OPTIPRO 1 TARRO CON 400 G</h5>
          <p class="card-text">“LA LECHE MATERNA ES EL MEJOR ALIMENTO PARA EL NIÑO”.</p>
          <h4 class="precios" style="color: orangered;">$50.200</h4>
          <div class="centrarButton" align="center">
            <a class="btn btn-primary  btn-sm" href="{{ url_for('home.comprarproducto') }}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/bebe/neurobion.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">NEUROBIÓN 10000 SOLUCIÓN CAJA CON 3 JERINGAS PRELLENADAS</h5>
          <p class="card-text">ES UN MEDICAMENTO. NO EXCEDER SU CONSUMO. LEER INDICACIONES Y CONTRAINDICACIONES. SI
            LOS SÍNTOMAS PERSISTEN, CONSULTAR
            AL MÉDICO.</p>
          <h4 class="precios" style="color: orangered;">$105.900</h4>
          <div class="centrarButton" align="center">
            <a class="btn btn-primary  btn-sm" href="{{ url_for('home.comprarproducto') }}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/bebe/pediasure.png" class="card-img-top" alt="..."
          style="height: 250px; width: 200px; display: block; margin: auto;">
        <div class="card-body">
          <h5 class="card-title">PEDIASURE SABOR VAINILLA FRASCO CON 1600 G</h5>
          <p class="card-text">NO ES UN MEDICAMENTO Y NO SUPLE UNA ALIMENTACIÓN EQUILIBRADA. MANTÉNGASE FUERA DEL
            ALCANCE DE LOS NIÑOS. NO EXCEDER SU
            CONSUMO. LEER INDICACIONES Y CONTRAINDICACIONES.
          </p>
          <h4 class="precios" style="color: orangered;">$137.000</h4>
          <div class="centrarButton" align="center">
            <a class="btn btn-primary  btn-sm" href="{{ url_for('home.comprarproducto') }}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/bebe/redoxitos.png" class="card-img-top" alt="..."
          style="height: 250px; width: 170px; display: block; margin: auto;">
        <div class="card-body">
          <h5 class="card-title">REDOXITOS TOTAL BOLSA CON 25 GOMITAS MASTICABLES CON 40 G C/U</h5>
          <p class="card-text">SUPLEMENTO DIETARIO ESTE PRODUCTO ES UN SUPLEMENTO DIETARIO. NO ES UN MEDICAMENTO Y NO
            SUPLE UNA ALIMENTACIÓN
            EQUILIBRADA. MANTÉNGASE FUERA DEL ALCANCE DE LOS NIÑOS.</p>
          <h4 class="precios" style="color: orangered;">$11.800</h4>
          <div class="centrarButton" align="center">
            <a class="btn btn-primary  btn-sm" href="{{ url_for('home.comprarproducto') }}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/bebe/toallitaswinny.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">TOALLITAS HÚMEDAS WINNY EMPAQUE CON 70 UNIDADES</h5>
          <p class="card-text">TOALLITAS HÚMEDAS PARA EL CUIDADO ESPECIAL DE LA PIEL DEL BEBÉ.</p>
          <h4 class="precios" style="color: orangered;">$10.400</h4>
          <div class="centrarButton" align="center">
            <a class="btn btn-primary  btn-sm" href="{{ url_for('home.comprarproducto') }}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/bebe/winny.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">PAÑALES WINNY ULTRATRIM SEC ETAPA 4 PACA CON 50 UNIDADES</h5>
          <p class="card-text">MANTIENE LA COLITA DE TU BEBÉ SECA, PARA EVITAR IRRITACIONES O QUEMADURAS.</p>
          <h4 class="precios" style="color: orangered;">$72.350</h4>
          <div class="centrarButton" align="center">
            <a class="btn btn-primary  btn-sm" href="{{ url_for('home.comprarproducto') }}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Paginacion -->
  <div class="py-4">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <a class="page-link">Vista previa</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Siguiente</a>
        </li>
      </ul>
    </nav>
  </div>
  <hr>
</div>


{% endblock %}