{% extends "base_home.html"%}
{% block title %}Dermacosméticos{% endblock %}

{% block content %}
<div class="container">
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/dermacosmetica/afelius.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">AFELIUS OIL FREE CAJA CON FRASCO CON 60 G</h5>
          <p class="card-text">AFELIUS OIL FREE ES IDEAL PARA PREVENIR EL ENVEJECIMIENTO PREMATURO, ERITEMA, MANCHAS,
            QUERATOSIS SOLAR, ADEMÁS DE
            DISMINUIR EL RIESGO DE APARICIÓN DE CÁNCER DE PIEL, CONVIRTIÉNDOSE EN UN VERDADERO SISTEMA DE DEFENSA.</p>
          <h4 class="precios" style="color: orangered;">$105.050</h4>
          <div class="centrarButton" align="center">
            <a class="btn btn-primary  btn-sm" href="{{ url_for('home.comprarproducto') }}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/dermacosmetica/aquatop.png" class="card-img-top" alt="..."
          style="height: 280px; width: 180px; display: block; margin: auto;">
        <div class="card-body">
          <h5 class="card-title">AQUATOP CREMA CAJA CON TUBO CON 250 G</h5>
          <p class="card-text">AQUATOP CREMACONTIENE AGENTES QUE ALIVIAN LA RESEQUEDAD Y LOS SIGNOS ASOCIADOS A LA
            PÉRDIDA DE HIDRATACIÓN CUTÁNEA,
            PORLO CUAL ES IDEAL PARA EL CUIDADO DE PIELES SENSIBLES, MUY SECAS Y DELICADAS.</p>
          <h4 class="precios" style="color: orangered;">$107.400</h4>
          <div class="centrarButton" align="center">
            <a class="btn btn-primary  btn-sm" href="{{ url_for('home.comprarproducto') }}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/dermacosmetica/arawak.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ARAWAK ANTIEDAD EN CREMA TARRO CON 50 G</h5>
          <p class="card-text">ARAWAK CREMA HUMECTANTE NUTRITIVA CON FILTRO SOLAR DÍA-NOCHE. CON EXTRACTO DE
            MANZANILLA, GERMEN DE TRIGO (VITAMINA E)
            HINOJO ROMERO. LA CREMA ARAWAK LIMPIA, HUMECTA Y NUTRE LA PIEL.</p>
          <h4 class="precios" style="color: orangered;">$32.800</h4>
          <div class="centrarButton" align="center">
            <a class="btn btn-primary  btn-sm" href="{{ url_for('home.comprarproducto') }}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/dermacosmetica/brujesin.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">BRUJESIN TERMOACTIVO EN LOCIÓN FRASCO CON 80 ML</h5>
          <p class="card-text">LOCIÓN TERMO ACTIVA CUYA FÓRMULA CON EXTRACTOS HERBALES, BRINDAN A LA ZONA APLICADA UNA
            SENSACIÓN INMEDIATA DE ALIVIO Y
            BIENESTAR.</p>
          <h4 class="precios" style="color: orangered;">$27.300</h4>
          <div class="centrarButton" align="center">
            <a class="btn btn-primary  btn-sm" href="{{ url_for('home.comprarproducto') }}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-4 g-4 py-3">
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/dermacosmetica/cetaphil.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">CETAPHIL CREMA HIDRATANTE PIEL MUY SECA FRASCO CON 453 G</h5>
          <p class="card-text">CREMA HIDRATANTE PARA PIELES SENSIBLES Y SECAS, SIN PERFUME.</p>
          <h4 class="precios" style="color: orangered;">$121.000</h4>
          <div class="centrarButton" align="center">
            <a class="btn btn-primary  btn-sm" href="{{ url_for('home.comprarproducto') }}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/dermacosmetica/cremoquinona.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">CREMOQUINONA EN CREMA 4% CAJA CON TUBO CON 30 G</h5>
          <p class="card-text">ES UN MEDICAMENTO. NO EXCEDER SU CONSUMO. LEER INDICACIONES Y CONTRAINDICACIONES. SI
            LOS SÍNTOMAS PERSISTEN, CONSULTAR
            AL MÉDICO.</p>
          <h4 class="precios" style="color: orangered;">$30.600</h4>
          <div class="centrarButton" align="center">
            <a class="btn btn-primary  btn-sm" href="{{ url_for('home.comprarproducto') }}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/dermacosmetica/darksun.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">DARK SUN CREMA PARA MANOS CAJA CON FRASCO CON 60 G</h5>
          <p class="card-text">CONTIENE FILTROS SOLARES QUE PROTEGEN LA PIEL DE LAS MANOS DE LOS EFECTOS PRODUCIDOS
            POR LA RADIACIÓN SOLAR,
            MANTENIÉNDOLAS TERSAS Y JUVENILES, Y PREVINIENDO LA FORMACIÓN DE MANCHAS Y ARRUGAS.</p>
          <h4 class="precios" style="color: orangered;">$126.100</h4>
          <div class="centrarButton" align="center">
            <a class="btn btn-primary  btn-sm" href="{{ url_for('home.comprarproducto') }}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/dermacosmetica/frezyderm.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">FREZYDERM SUN SCREEN FACE COLOR 50+ CAJA CON FRASCO CON 50 ML</h5>
          <p class="card-text">INNOVADORA FÓRMULA CIENTÍFICA QUE SE ADAPTA AL COLOR DE LA PIEL PARA PROTEGERLA DE LOS
            RAYOS SOLARES. INNOVADOR MANTO
            PROTECTOR QUE PROVEE UNA EFECTIVA PREVENCIÓN CONTRA EL DAÑO CELULAR CAUSADO POR LOS RAYOS SOLARES.</p>
          <h4 class="precios" style="color: orangered;">$101.050</h4>
          <div class="centrarButton" align="center">
            <a class="btn btn-primary  btn-sm" href="{{ url_for('home.comprarproducto') }}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/dermacosmetica/serum.png" class="card-img-top" alt="..."
          style="height: 250px; width: 170px; display: block; margin: auto;">
        <div class="card-body">
          <h5 class="card-title">SUN SCREEN FACE SPF 50+ FREZYDERM FRASCO CON 50 ML</h5>
          <p class="card-text">UN SUERO DE LEVANTAMIENTO DE CARA INSTANTÁNEO PARA UNA CARA INSTANTÁNEAMENTE MÁS JOVEN.
          </p>
          <h4 class="precios" style="color: orangered;">$133.050</h4>
          <div class="centrarButton" align="center">
            <a class="btn btn-primary  btn-sm" href="{{ url_for('home.comprarproducto') }}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/dermacosmetica/sunface.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">SUNFACE GEL SPF 45 CAJA CON TUBO CON 70 G</h5>
          <p class="card-text">SUNFACE GEL ES ENRIQUECIDO CON BISABOLOL, ALANTOÍNA, Y EMOLIENTES HIDRATANTES, QUE
            FAVORECEN LA PROTECCIÓN NECESARIA
            FRENTE A LA RESEQUEDAD CAUSADA POR LA RADIACIÓN SOLAR.</p>
          <h4 class="precios" style="color: orangered;">$81.850</h4>
          <div class="centrarButton" align="center">
            <a class="btn btn-primary  btn-sm" href="{{ url_for('home.comprarproducto') }}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/dermacosmetica/synderm.png" class="card-img-top" alt="..."
          style="height: 250px; width: 170px; display: block; margin: auto;">
        <div class="card-body">
          <h5 class="card-title">SYNDERM SCRUB CAJA CON FRASCO CON 120 ML - LIMPIADOR ASTRINGENTE</h5>
          <p class="card-text">LIMPIADOR Y ASTRINGENTE PROFUNDO PARA PIELES GRASOSAS Y CON TENDENCIA AL ACNÉ.</p>
          <h4 class="precios" style="color: orangered;">$67.150</h4>
          <div class="centrarButton" align="center">
            <a class="btn btn-primary  btn-sm" href="{{ url_for('home.comprarproducto') }}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/dermacosmetica/umbrella.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">UMBRELLA SPF 50+ GEL CAJA CON TUBO CON 60 G</h5>
          <p class="card-text">UMBRELLA GEL 50+ ES UN PROTECTOR SOLAR ALTAMENTE ESPECIALIZADO, QUE SEGÚN LOS
            ESTÁNDARES INTERNACIONALES ACTUALES,
            BRINDA MUY ALTA PROTECCIÓN.</p>
          <h4 class="precios" style="color: orangered;">$122.800</h4>
          <div class="centrarButton" align="center">
            <a class="btn btn-primary  btn-sm" href="{{ url_for('home.comprarproducto') }}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Paginacion -->
  <div class="py-4">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <a class="page-link">Vista previa</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Siguiente</a>
        </li>
      </ul>
    </nav>
  </div>
  <hr>
</div>


{% endblock %}